@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: auto;
    background-color:burlywood;
}
main{
display: flex;
flex-direction: column;
margin: auto;
}
input{
    width: 50vw;
    margin: auto;
    text-align: centers;
    padding: 1rem;
}
#date-input{
    padding: 2rem;
}

#check-btn{
    width: 10vw;
    text-align: center;
    margin: auto;
}